<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mahyar Kala</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Mahyar Kala</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign in</a>
        </div>
      </header>

      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/DiorSauvage.jpg" alt="pic" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Adidas Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$1.20</div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/DiorSauvage.jpg" alt="pic" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Adidas Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$1.20</div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/DiorSauvage.jpg" alt="pic" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Adidas Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$1.20</div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/DiorSauvage.jpg" alt="pic" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Adidas Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$1.20</div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/DiorSauvage.jpg" alt="pic" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Adidas Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$1.20</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/DiorSauvage.jpg" alt="pic" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Adidas Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$1.20</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/DiorSauvage.jpg" alt="pic" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Adidas Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-o"></i>
                </span>
              </div>
              <div class="price">$1.20</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/DiorSauvage.jpg" alt="pic" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Adidas Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star-half-o"></i>
                </span>
              </div>
              <div class="price">$1.20</div>
            </div>
          </div>
        </div>
      </main>

      <footer class="row center">All Rights Reserved 2020</footer>
    </div>
  </body>
</html>
